/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#city-selector-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#fetchDataButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.fetchDataButton:hover {
    background-color: #0056b3;
}

#unitSelectorButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#unitSelectorButton:hover {
    background-color: #5a6268;
}

#weatherList {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    width:80vw;
    margin:0 auto;
}

.weather-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.weather-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.weather-item p {
    font-size: 16px;
}

.updateButton,
.deleteButton {
    padding: 8px 15px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.updateButton:hover,
.deleteButton:hover {
    background-color: #c82333;
}
